{% extends 'pagestore/base.html' %}
{% load static %}

{% block title %}Cart{% endblock %}
{% block body %}
<header class="home-header">
    <div class="home-logo">
        <p>Depthecho</p>
    </div>
    <div class="home-searchbar">
        <div class="search">
            <input class="search-input" type="text">
            <i class='bx bx-search-alt-2'></i>
        </div>
    </div>
    <div class="home-navbar">
        <a href="{% url 'favorite_products' %}" class="nav-favs home-navs"><i class='bx bx-star'><br>Favorite</i></a>
        <a href="{% url 'cart' %}" class="nav-basket home-navs"><i class='bx bx-basket'><br>Cart</i></a>
        <a href="{% url 'orders' %}" class="nav-orders home-navs"><i class='bx bxs-purchase-tag'><br>Orders</i></a>
        <a href="{% url 'homepage' %}" class="nav-home home-navs"><i class='bx bx-home'><br>Home</i></a>
    </div>
    {% if user.is_authenticated %}
    <div class="loginout-button">
        <form method="post" action="{% url 'logoutpage' %}">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
    </div>
    {% else %}
    <div class="loginout-button">
        <form method="post" action="{% url 'loginpage' %}">
            {% csrf_token %}
            <button type="submit">Log In</button>
        </form>
    </div>
    {% endif %}
</header>

<div class="home-empty"></div>

<section class="favorites">
    <div class="favorites-container">
        <h2 class="favorites-header">Your Favorite Products</h2><br>
        <div class="product-list">
            {% for product in favorite_products %}
            <div class="product">
                <img src="{{ product.photo.url }}" alt="{{ product.name }}">
                <h3><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h3>
                <p>{{ product.description }}</p>
                <p>Price: ${{ product.price }}</p>
                <!-- Add a button to remove from favorites -->
                <form method="post" action="{% url 'remove_from_favorites' product.id %}">
                    {% csrf_token %}
                    <button type="submit" class="remove-button">Remove from Favorites</button>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}