{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<h1>Добро пожаловать на наш сайт с продажей обуви!</h1>
    <h2>О нас</h2>
    <p>
        Мы - команда энтузиастов, которые страстно увлечены обувью. Наш магазин предлагает широкий ассортимент стильной и удобной обуви для всех возрастов и сезонов.
    </p>
    <h2>Актуальные новости</h2>
    <ul>
        <li>1 мая 2023: Открытие нового магазина в центре города! Приходите за свежими моделями обуви по выгодным ценам.</li>
        <li>15 мая 2023: Новая коллекция весна-лето уже в продаже! Наши дизайнеры подготовили удивительные модели для всех любителей моды.</li>
    </ul>

    <h2>Контакты</h2>
    <p>Вы можете связаться с нами по следующим контактам:</p>
    <ul>
        <li>Email: contact@example.com</li>
        <li>Телефон: +1234567890</li>
    </ul>
    <p>
        Мы рады приветствовать вас на нашем сайте и надеемся, что вы найдете здесь идеальную обувь для себя и своих близких.
    </p>
{% endblock %}